<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mangurl</title>
</head>
<body>

<form action method="post" th:if="${!isResult}">
    <label>
        <span>Original URL: </span>
        <input name="originalUrl" type="url" th:value="${prevOriginalUrl}">
    </label>
    <a th:href="@{/app}">Clear</a>
    <button type="submit">Shorten</button>
</form>

<section th:if="${isResult}">
    <p>
        <span>Original URL: </span>
        <a target="_blank"
           th:if="${!#strings.isEmpty(resEncodedOriginalUrl)}"
           th:href="@{${resEncodedOriginalUrl}}"
           th:text="${resOriginalUrl}">
        </a>
        <span th:if="${#strings.isEmpty(resEncodedOriginalUrl)}"
              th:text="|Invalid URL!!! - ${resOriginalUrl}|"></span>
    </p>

    <p>
        <span>Short URL: </span>
        <a target="_blank"
           th:if="${!#strings.isEmpty(resEncodedShortUrl)}"
           th:href="@{${resEncodedShortUrl}}"
           th:text="${resShortUrl}">
        </a>
        <span th:if="${#strings.isEmpty(resEncodedShortUrl)}"
              th:text="|Invalid URL!!! - ${resShortUrl}|"></span>
    </p>

    <a target="_self" th:href="@{/app(prevOriginalUrl=${resOriginalUrl})}">Back</a>
</section>

</body>
</html>